// Color variables.
$text-color: black;
$border-color: #3B3936;
$primary-color: #ebebeb;
$secondary-color: #BD2A2E;
$hover-color: #d7ffd9;
$primary-cardColor: #e8f0f0;

// Breakpoint variables.
$phone-brkpt: 520px;
$tablet-brkpt: 1320px;